

.hero {
    background-image: url("../../public/kancut.png");
    background-size: cover;
    background-position: center;
    height: 450.5px;
    width: 1251px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 3rem;
    color: rgb(255, 255, 255);
    border: 2px solid silver;
    border-radius: 32px;
  
  }
  
  .hero-one {
    display: flex;
    flex-direction: column;
    align-items: start; /* Align items to the left */
    justify-content: center;
    width: 50%;
    margin-left: 70px;
  
    > h1 {
      width: 300px;
    }
  
    > p {
      font-size: 20px;
      width: 400px;
      color: rgb(174, 212, 251);
    }
  }
  
  .hero-two {
    margin-left: 10rem;
    display: flex;
    flex-direction: column;
  
    > p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
    }
  
    
  
    

    .hero-image-container{
      display: flex;
      flex-direction: row;

      >img {
        width: 100px;
        margin-right: 10px;
        transition: all 0.3s ease; /* Add transition effect */
        border-radius: 14px;
      }

      >img:hover {
        box-shadow: 0 0 10px 10px rgba(192, 192, 192, 0.5); /* Add blue shadow on hover */
        transform: scale(1.25); /* Slightly increase size on hover */
      }
    }
  }
  

  @media only screen and (max-width: 430px) {
    .hero {
      background-image: url("../../public/lki.png");
      background-size: cover;
      background-position: center;
      height: 70vh;
      width: 90vw;
     
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    
      margin: 0 auto;
      padding: 0px;
      margin-top: 1.5rem;
      color: rgb(255, 255, 255);
      border: 1px solid silver;
      border-radius: 20px;
    }
  
    .hero-one {
      width: 100%; /* Occupy full width */
      height: 2rem           ; /* Adjust margin */
      text-align: center; /* Center text */
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(35, 37, 37);
      

      
      
      

      >h1 {
        display: flex;
        font-size: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(95, 131, 131);
        
      
      }
      >p {
        font-size: 20px;
        width: 50%;
        display: none;
        display: none;
        
      }
    }
  
 
  
    .hero-two {
      width: 90%; /* Occupy full width */
      margin: 20px 0; /* Adjust margin */
      text-align: center; /* Center text */
      justify-content: center;
      align-items: center;
      
    }
  
    .hero-two p {
      font-size: 15px;
      margin-bottom: 10px;
    }
  
  

    
  .hero-two .hero-image-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: inherit;

      >img {
        width: 80px;
        margin: 10px;
        transition: all 0.3s ease; /* Add transition effect */
        border-radius: 11px;
      }

      >img:hover {
        box-shadow: 0 0 10px 10px rgba(192, 192, 192, 0.5); /* Add blue shadow on hover */
        transform: scale(1.25); /* Slightly increase size on hover */
      }
    }
    
  
   
  }
  



