.poster{
    background-image: url("../../public/ad.png");
    background-size:cover;
    background-position: center;
    height: 90vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 10rem;
    border: solid 2px silver;
    border-radius: 30px;
 
}

@media only screen and (max-width: 450px) {
   
    .poster{
        background-image: url("../../public/shinePoster.png");
        background-size:cover;
        background-position: center;
        height: 350px;
        width: 82vw;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 10rem;
        border: solid 2px silver;
        border-radius: 30px;
     
    }
}