.shop {
    margin-top:10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    

  }

  .shop a {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit the text color */
  }
  
  .shop a:hover {
    text-decoration: underline; /* Underline text on hover */
    color: silver;
  }
  .shop-neck {
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .shop-neck a {
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit the text color */
  }
  
  .shop-neck a:hover {
    text-decoration: underline; /* Underline text on hover */
    color: silver;
  }
  
  .shop-one,
  .shop-two {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  
  
  .shop-one img,
  .shop-two img {
    width: 250px;
    margin: 30px;
    transition: all 0.3s ease; /* Add transition effect */
    border-radius: 36px;
    border: 2px solid silver;
  }
  
  .shop-one img:hover,
  .shop-two img:hover {
    transform: scale(1.1); /* Make images bigger on hover */
    box-shadow: 0 0 10px 10px rgb(192, 192, 192, 0.4); /* Add silver box shadow on hover */
  }


  .shop-mobile{
     display: none;
  }
  

  @media only screen and (max-width: 430px) {
    .shop{
      display: none;
    }
    .shop-mobile {
      margin-top: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 98vw;
      
      > a h1 {
        font-size: 30px;
        padding-bottom: 2rem;
       
      }
    }
  
    .shop-one,
    .shop-two {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      
    }
  
    .shop-one img,
    .shop-two img {
      width: 4rem; /* Calculate image width dynamically */
                   /* Limit maximum width */
      margin: 20px;
      transition: all 0.3s ease; /* Add transition effect */
      border-radius: 14px;
      border: 1px solid silver;
    }

    .shop-neck {
      margin-top:2rem;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
  
      > a h1 {
        font-size: 20px;
      }
    }
  
    .shop-one,
    .shop-two {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .shop-one img,
    .shop-two img {
      width: 40%; /* Calculate image width dynamically */
       /* Limit maximum width */
      margin: 7px 7px;
      transition: all 0.3s ease; /* Add transition effect */
      border-radius: 30px;
     
    }


    
  }
  

  