.video-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
   
    
}

.video-main-one{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
 
    border: 1px solid silver;
   
    
}

@media only screen and (max-width: 430px) {
    .video-main{
        display:none;
    }

    .video-main-one{
        display:none;
    }
}