.videoMobile-main{
    display: none;
   
    
}

.videoMobile-main-one{
    display: none;
   
    
}

@media only screen and (max-width: 430px) {
    .videoMobile-main{
        display:block;
        margin-top: 3rem;
    }

    .videoMobile-main-one{
        display:block;
    }
}