:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

a {
  font-weight: 700;
  color: silver;
  text-decoration: inherit;
}
a:hover {
  color: silver;
}

body {
  width: 100%;
  background-image: url("../public/srikarbg.png");
  background-size: cover;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  
}

@media only screen and (max-width: 500px) {
  body {
    background-image: none;
    background: linear-gradient(to right, #1a1a1a, #1f1e1e, #333333);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.container {
  max-width: 120rem;
  padding: 4rem 1rem;
  margin: 0 auto;
  margin-top: 7rem;
}

.heading {
  padding: 1rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.swiper_container {
  height: auto;
  padding: 2rem 0;
  position: relative;

 
}

.swiper-slide {
  width: 25rem;
  height: 42rem;
  position: relative;
  overflow-x: hidden;
}


.swiper-slide img {
  width: 25rem;
  height: 35rem;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.slider-controler .swiper-button-next {
  left: 99% !important;
  transform: translateX(-58%) !important;
  color: silver;
  font-size: 30px;
  font-weight: bold;
}

.slider-controler .swiper-button-prev{
  margin-right: 20rem !important;
  color: silver;
  font-size: 30px;
  font-weight: bold;
}




.slider-controler .slider-arrow {

  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  right: 50%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  background-color: #535bf2;
  color: #535bf2;

}

.slider-controler .slider-arrow::after {
  content: '';

}

.swiper-pagination {
  position: relative;
  width: 15rem !important;
  bottom: 1rem;
  
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(205, 15, 15, 0.1));
  background-color: #ffffff;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}





@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 10% !important;
    transform: translateX(-80%) !important;
  }

  .heading {
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
  }


}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
    display: none;
  }

  .slider-controler .swiper-button-next {
    left: 20% !important;
    transform: translateX(-20%) !important;
    display: none;
  }


}

@media (max-width: 500px) {
  .swiper_container {
    height: 35rem;
    
  }
  .swiper-slide {
    width: 80% !important;
    height: 40rem !important;
  }
  .swiper-slide img {
    width: 100% !important;
    height: 30rem !important;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: #111111; /* Change this to the desired color */
  position:fixed;
  top: 0%;
  width: 44px;
  height: 44px;
  padding-bottom: 35rem;
  z-index: 10;
  cursor: pointer;
  background-size: 44px 44px;

  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev {
  margin-right: 0rem;
  background-image: url('../public/arrowleft.png'); /* Replace with your left arrow icon */
  opacity: 0.5;
  color: silver;
  
}

.swiper-button-next {
  
  background-image: url('../public/arrow.png'); /* Replace with your right arrow icon */
  opacity: 0.5;
  color: silver;
 
  
  
  
}

.slider-arrow p {
  display: none; /* Hide default text/icons */
}

.swiper-pagination {
  bottom: 10px;
  text-align: center;
}


